@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "ListOfRoles";
}

<h1>ListOfRoles</h1>

<p>
    <a asp-action="CreateRole">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "editrole", new { id=item.Id  }) |
                @Html.ActionLink("Details", "details", new {id=item.Id }) |
                @Html.ActionLink("Delete", "delete", new { id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
